{% load static %}
{% load django_bootstrap5 %}
{% load static %}
{% load django_bootstrap5 %}
{% load static %}
{% load django_bootstrap5 %}
{% load static %}
{% load django_bootstrap5 %}
{% load static %}
{% load django_bootstrap5 %}
{% load static %}
{% load django_bootstrap5 %}
{% load static %}
{% load django_bootstrap5 %}
{% load static %}
{% load django_bootstrap5 %}
{% load static %}
{% load django_bootstrap5 %}
{% load static %}
{% load django_bootstrap5 %}
{% load static %}
{% load django_bootstrap5 %}
{% load static %}
{% load django_bootstrap5 %}
{% load static %}
{% load django_bootstrap5 %}
{% load static %}
{% load django_bootstrap5 %}
{% load static %}
{% load django_bootstrap5 %}
{% load static %}
{% load django_bootstrap5 %}
{% load static %}
{% load django_bootstrap5 %}
{% load static %}
{% load django_bootstrap5 %}
{% load static %}
{% load django_bootstrap5 %}
{% load static %}
{% load django_bootstrap5 %}
{% load static %}
{% load django_bootstrap5 %}
{% load static %}
{% load django_bootstrap5 %}
{% load static %}
{% load django_bootstrap5 %}
{% load static %}
{% load django_bootstrap5 %}
{% load static %}
{% load django_bootstrap5 %}
{% load static %}
{% load django_bootstrap5 %}
{% load static %}
{% load django_bootstrap5 %}
{% load static %}
{% load django_bootstrap5 %}
{% load static %}
{% load django_bootstrap5 %}
{% load static %}
{% load django_bootstrap5 %}
{% load static %}
{% load django_bootstrap5 %}
{% load static %}
{% load django_bootstrap5 %}
{% load static %}
{% load django_bootstrap5 %}
{% load static %}
{% load django_bootstrap5 %}
{% load static %}
{% load django_bootstrap5 %}
{% load static %}
{% load django_bootstrap5 %}
{% load static %}
{% load django_bootstrap5 %}
{% load static %}
{% load django_bootstrap5 %}
{% load static %}
{% load django_bootstrap5 %}
{% load static %}
{% load django_bootstrap5 %}
{% load static %}
{% load django_bootstrap5 %}
{% load static %}
{% load django_bootstrap5 %}
{% load static %}
{% load django_bootstrap5 %}
{% load static %}
{% load django_bootstrap5 %}
{% load static %}
{% load django_bootstrap5 %}
<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8"/>
  <meta content="width=device-width, initial-scale=1.0, shrink-to-fit=no" name="viewport"/>
  <title>
   abstract-spacecraft
  </title>
  <link href='{% static "bootstrap.min.css" %}" %}" %}' rel="stylesheet"/>
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet"/>
  <link href="https://fonts.googleapis.com/css?family=Indie+Flower&amp;display=swap" rel="stylesheet"/>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css" rel="stylesheet"/>
  <link href='{% static "user_home_tabs.css" %}" %}" %}' rel="stylesheet"/>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css" rel="stylesheet"/>
 </head>
 <body>
  <nav class="navbar navbar-light navbar-expand-lg navigation-clean-button" style="/*position: absolute;*/width: 100%;">
   <div class="container">
    <a class="navbar-brand" href="/" style="font-family: 'Indie Flower', serif;color: var(--bs-indigo);font-size: xx-large;font-weight: bold;">
     Database Of Proofs Engine
    </a>
    <button class="navbar-toggler" data-bs-target="#navcol-1" data-bs-toggle="collapse">
     <span class="visually-hidden">
      Toggle navigation
     </span>
     <span class="navbar-toggler-icon">
     </span>
    </button>
    <div class="collapse navbar-collapse" id="navcol-1">
     <ul class="navbar-nav me-auto">
      <li class="nav-item">
      </li>
      <li class="nav-item">
      </li>
     </ul>
     <button class="btn btn-primary" id="save-button" style="padding: 3px 6px;border-radius: 8px;" type="button">
      Save
     </button>
     <div class="btn-group" role="group" style="margin: 4px;border-radius: 10px;">
     </div>
     <button class="btn btn-primary" id="centre-view-button" style="padding: 3px 6px;border-radius: 8px;" type="button">
      Center
     </button>
     <div class="btn-group" role="group" style="margin: 4px;border-radius: 10px;">
     </div>
     <span class="navbar-text actions">
     </span>
    </div>
   </div>
  </nav>
  <iframe sandbox="allow-same-origin allow-scripts allow-popups allow-forms allow-modals" src='{% static "quiver/src/index.html" %}' style="height:83vh;width:100%;border:none;overflow:hidden;">
  </iframe>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js">
  </script>
  <script src='{% static "bs-init.js" %}" %}'>
  </script>
  <script src='{% static "connect_quiver_gui.js" %}" %}" %}'>
  </script>
 </body>
</html>

