@media (min-width: 992px) {
  .navbar-brand {
    font-size: 23pt;
  }
}

@media (max-width:991px) {
  .navbar-brand {
    font-size: x-large;
  }
}

@media (max-width: 991px) {
  .navbar-main-link {
    font-size: 0;
    margin: 3px;
    width: 33px;
    height: 33px;
  }
}

@media (min-width: 992px) {
  .navbar-main-link {
    margin-right: 5px;
  }
}

.nav-item.d-lg-flex.justify-content-lg-end.align-items-lg-center {
  margin: 0;
}

@media (min-width: 992px) {
  .nav-item.d-lg-flex.justify-content-lg-end.align-items-lg-center {
    margin-left: 3px;
    margin-right: 3px;
  }
}

.navbar-brand {
  margin-right: auto;
}

.dropdown-menu {
  float: left;
  border-radius: 8px;
  margin: 0px 5px 0px 0px;
  min-width: auto;
  margin-right: 3px;
  background: rgba(0,123,255,0.71);
  border-radius: 5px;
  border-style: none;
  padding-bottom: 12px;
  padding-top: 13px;
}

@media (min-width: 992px) {
  .dropdown-menu {
    color: var(--bs-white);
    border-radius: 11px;
    padding-top: 6px;
  }
}

@media (max-width: 991px) {
  .dropdown-menu {
    margin-left: -128px;
    /*top: -64px;*/
    margin-top: -34px;
    padding-top: 0px;
  }
}

.active.d-xl-flex.align-items-xl-center.btn.btn-primary {
  background-color: rgb(0,123,255);
  color: var(--bs-white);
  border-radius: 11px;
}

@media (max-width: 991px) {
  .active.d-xl-flex.align-items-xl-center.btn.btn-primary {
    border-radius: 8px;
    font-size: smaller;
    padding: 3px;
    border-radius: 8px;
    margin: 3px;
    float: right;
  }
}

.btn-group-vertical > button {
  text-align: center;
}

.dropdown-item.d-lg-flex.justify-content-lg-end {
  padding: 0;
}

.navbar {
  position: absolute;
}

.navbar-nav.d-lg-flex.me-auto.justify-content-lg-end.align-items-lg-center.ms-auto {
  pointer-events: auto;
}

.navbar.navbar-light.navbar-expand-lg.navigation-clean-button {
  pointer-events: none;
}

.navbar-brand {
  pointer-events: auto;
}

.navbar-toggler {
  pointer-events: auto;
}

.form-check.form-switch {
  margin: 10px;
  margin-top: 20px;
}

.form-switch .form-check-input:checked {
  background-color: rgb(0,71,255);
}

.form-check-input {
  border: none;
}

.form-check-input:checked {
  border: none;
}

.dropdown-menu .btn {
  border-radius: 11px;
}

.dropdown-item.d-lg-flex.justify-content-lg-end {
  background: transparent;
}

.dropdown-item .btn-primary {
  color: #fff;
  background-color: rgb(0,123,255);
  border-color: #007bff;
}

.dropdown-menu {
  padding-top: 10px;
}

#main-navbar > a {
}

@media (max-width: 991px) {
  .nav-item {
    padding: 3px;
    margin: 10px;
  }
}

.navbar .nav-item .dropdown-toggle a {
  background-color: var(--bs-primary);
}

@media (min-width: 992px) {
  .navbar-main-link {
    margin: auto;
  }
}

@media (min-width: 992px) {
  .navbar-main-link {
    margin: auto;
  }
}

@media (min-width: 992px) {
  .navbar-main-link {
    margin: auto;
    height: 40px;
    margin-right: 7px;
    margin-top: -1px;
    font-size: 16px;
  }
}

@media (max-width: 991px) {
  #more-dropdown {
  }
}

@media (max-width: 991px) {
  .navbar-main-link {
    padding: 3px;
    margin: 3px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
}

@media (max-width: 991px) {
  .main-nav-btn-text {
    font-size: 0;
    margin-top: 5px;
    padding-top: 14px;
    margin-bottom: 6px;
  }
}

@media (min-width: 992px) {
  .main-nav-btn-text {
    font-size: 11pt;
  }
}

.nav-pills .nav-link {
  background: none;
  border: 0;
  border-radius: .5rem;
  margin: 2px;
}

@media (min-width: 992px) {
  #more-dropdown-link {
    padding: 8px;
    margin-top: -9px;
    margin-bottom: -6px;
    margin-right: 7px;
    margin-left: 3px;
    height: 40px;
  }
}

@media (max-width: 991px) {
  #more-dropdown-link {
    margin-right: 6px;
  }
}

@media (min-width: 992px) {
  .navbar-main-icon {
    margin-right: 8px;
    width: 27px;
    /*height: 30px;*/
    height: auto;
  }
}

@media (max-width: 991px) {
  .navbar-main-icon {
    margin-top: 0px;
    margin-left: 0px;
    width: 24px;
    height: auto;
  }
}

#more-btn-text {
  margin-bottom: -11px;
}

@media (max-width: 991px) {
  #more-dropdown {
    margin-top: 3px;
  }
}

#more-icon {
  margin-right: -3px;
  padding-top: 0px;
  padding-bottom: 8px;
  margin-top: 5px;
  margin-bottom: 1px;
}

.navbar-main-link {
  box-shadow: 3px 6px 18px 0px var(--bs-dark-text-emphasis);
  border-color: var(--bs-link-hover-color);
}

.dropdown-menu {
  border-radius: 11px;
}

@media (max-width: 991px) {
  #more-dropdown-menu {
    margin-top: -36px;
    margin-right: 0px;
    margin-left: -112px;
    padding-right: 0px;
  }
}

@media (min-width: 992px) {
  #more-dropdown-menu {
    margin: 54px -121px 0px 0px;
    margin-top: 54px;
    margin-right: -93px;
  }
}

#more-dropdown-menu {
  box-shadow: 3px 6px 18px 0px var(--bs-dark-text-emphasis);
}

.modal-button {
  margin: 6px;
  margin-right: 6px;
  border-radius: 11px;
}

.modal-backdrop {
  opacity: 0.15 !important;
}

.modal-header {
  padding: 8px;
}

.modal-footer {
  padding: 8px;
}

.dropdown-menu a {
  color: white;
}

.btn-close {
  margin-right: 5px !important;
}

.modal-title {
  margin-left: 16px;
}

.form-label {
  margin: 8px;
}

.mirror-icon {
  -webkit-transform: scale(-1, 1);
  -moz-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}

@media (max-width: 991px) {
  #arrow-gear-button {
    background: #8e2222;
    margin-left: 11px;
    margin-right: 7px;
    width: auto;
    padding-top: 3px;
    margin-top: 3px;
  }
}

@media (min-width: 992px) {
  #arrow-gear-button {
    padding: 8px;
    margin-left: 9px;
  }
}

.arrow-number-input {
  width: auto;
  height: auto;
  border-radius: 11px;
  margin-left: 8px;
  font-size: 22pt;
  padding-left: 10px;
  max-width: 200px;
  outline: none;
  border: 1.5px solid #ebff03;
}

.arrow-field-label {
  width: auto;
}

#more-dropdown-link {
  border: 1px solid #0047ff ;
}

