/* A non-native range input, supporting multiple thumbs. */

div.slider {
  display: inline-block;
  vertical-align: middle;
  position: absolute;
}

.panel div.slider {
  width: 55%;
  left: 56px;
}

.slider-values {
  display: inline-block;
  position: absolute;
  right: 0;
  pointer-events: none;
}

.slider-values .slider-value {
  display: inline-block;
  min-width: 24px;
  text-align: right;
}

.slider .thumb {
  display: inline-block;
  position: absolute;
  width: 20px;
  height: 20px;
  margin-top: -3px;
  top: 0;
  transform: translateX(-50%);
  z-index: 1;
  background: hsl(0, 0%, 10%);
  border: var(--ui-border) solid 1px;
  border-radius: 20px;
  transition: left 0.1s;
  pointer-events: none;
}

/* Disable transitions when the user is dragging the thumb. */

.thumb.active {
  transition: none;
}

.slider.focused .thumb {
  background: var(--ui-white);
  border-color: var(--ui-blue);
}

.slider .thumb.focused, .slider.symmetric.focused .thumb {
  background: var(--ui-blue);
}

.slider:not(.disabled):not(.focused) .thumb.hover, .slider.symmetric:not(.disabled):not(.focused):hover .thumb {
  background: hsl(0, 0%, 20%);
}

.slider:not(.disabled):not(.focused) .thumb.active, .slider.symmetric:not(.disabled):not(.focused).active .thumb {
  background: hsl(0, 0%, 30%);
}

.slider .track {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  height: 14px;
  position: absolute;
  background: var(--ui-background);
  border: var(--ui-border) solid 1px;
  border-radius: 14px;
}

.slider.focused .track {
  background: var(--ui-white);
  border-color: var(--ui-blue);
}

