{% load static %}

<!DOCTYPE html>
<html data-bs-theme="light">
 <head>
  <meta charset="utf-8"/>
  <meta content="width=device-width, initial-scale=1.0, shrink-to-fit=no" name="viewport"/>
  <title>
   Home - Brand
  </title>
  <link href='{% static "img/apple-touch-icon.png" %}' rel="apple-touch-icon" sizes="180x180" type="image/png"/>
  <link href='{% static "img/favicon-16x16.png" %}' rel="icon" sizes="16x16" type="image/png"/>
  <link href='{% static "img/favicon-16x16.png" %}' media="(prefers-color-scheme: dark)" rel="icon" sizes="16x16" type="image/png"/>
  <link href='{% static "img/favicon-32x32.png" %}' rel="icon" sizes="32x32" type="image/png"/>
  <link href='{% static "img/favicon-32x32.png" %}' media="(prefers-color-scheme: dark)" rel="icon" sizes="32x32" type="image/png"/>
  <link href='{% static "img/apple-touch-icon.png" %}' rel="icon" sizes="180x180" type="image/png"/>
  <link href='{% static "img/android-chrome-192x192.png" %}' rel="icon" sizes="192x192" type="image/png"/>
  <link href='{% static "img/android-chrome-512x512.png" %}' rel="icon" sizes="512x512" type="image/png"/>
  <link href='{% static "bootstrap/css/bootstrap.min.css" %}' rel="stylesheet"/>
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic&display=swap" rel="stylesheet"/>
  <link href="https://fonts.googleapis.com/css?family=Indie+Flower&display=swap" rel="stylesheet"/>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css" rel="stylesheet"/>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css" rel="stylesheet"/>
  <link href='{% static "accounts/css/user_home_tabs.css" %}' rel="stylesheet"/>
  <link href="{% static 'quiver/src/KaTeX/katex.min.css' %}" rel="stylesheet"/>
  <script defer="" src="{% static 'quiver/src/KaTeX/katex.min.js' %}">
  </script>
  <script defer="" src="{% static 'quiver/src/KaTeX/contrib/auto-render.min.js' %}">
  </script>
  <script>
   document.addEventListener("DOMContentLoaded", function() {
        renderMathInElement(document.body, {
          delimiters: [
              {left: "$", right: "$", display: true},
              {left: "$", right: "$", display: false}
          ],
          throwOnError : false
        });
    });
  </script>
 </head>
 <body>
  <nav class="navbar navbar-expand-lg navigation-clean-button navbar-light" style="/*position: absolute;*/width: 100%;height: auto;max-height: auto;padding: 0px;">
   <div class="container">
    <a class="navbar-brand" href="/" style="font-family: 'Indie Flower', serif;color: var(--bs-indigo);font-size: xx-large;font-weight: bold;margin: 0px;padding: 0px;">
     MathDOPE
     <img height="36" src='{% static "img/android-chrome-192x192.png" %}' style="margin-left: 12px;" width="36"/>
    </a>
    <button class="navbar-toggler" data-bs-target="#navcol-1" data-bs-toggle="collapse" style="transform: scale(0.74);">
     <span class="visually-hidden">
      Toggle navigation
     </span>
     <span class="navbar-toggler-icon">
     </span>
    </button>
    <div class="collapse navbar-collapse" id="navcol-1">
     <ul class="navbar-nav me-auto">
      <li class="nav-item">
      </li>
      <li class="nav-item">
      </li>
     </ul>
     {% if request.user.is_authenticated %}
     <a class="btn btn-primary" href="{% url 'user_home' %}" style="padding: 3px 6px;border-radius: 8px;margin: 4px;">
      My Home
     </a>
     {% endif %}
     {% include 'sign_inout_buttons.html' %}
    </div>
   </div>
  </nav>
  <div id="django-messages-div">
   {% include 'messages.html' %}
  </div>
  <header class="text-center text-white masthead" style='background: url({% static "accounts/img/pillars_of_creation.jpg" %}) center / cover repeat;height: 679px;'>
   <h1 class="mb-5" style="transform: translate(0px) translateX(0px) translateY(-122px);">
    Mathematicians can edit, save, and search for diagrams using this web app.
   </h1>
   <div class="col-xl-9 mx-auto position-relative" style="height: 110px;transform: translateY(-122px);">
    <button class="btn btn-primary" data-bs-target="#sign-up-modal" data-bs-toggle="modal" style="font-size: 18pt;border-radius: 16px;" type="button">
     Sign Me Up!
     <br/>
    </button>
   </div>
  </header>
  <section class="text-center bg-light features-icons">
   <div class="container">
    <div class="row">
     <div class="col-lg-4">
      <div class="mx-auto features-icons-item mb-5 mb-lg-0 mb-lg-3">
       <div class="d-flex features-icons-icon">
        <i class="icon-screen-desktop m-auto text-primary" data-bss-hover-animate="pulse">
        </i>
       </div>
       <h3>
        Fully Responsive
       </h3>
       <p class="lead mb-0">
        This theme will look great on any device, no matter the size!
       </p>
      </div>
     </div>
     <div class="col-lg-4">
      <div class="mx-auto features-icons-item mb-5 mb-lg-0 mb-lg-3">
       <div class="d-flex features-icons-icon">
        <i class="icon-layers m-auto text-primary" data-bss-hover-animate="pulse">
        </i>
       </div>
       <h3>
        Bootstrap 4 Ready
       </h3>
       <p class="lead mb-0">
        Featuring the latest build of the new Bootstrap 4 framework!
       </p>
      </div>
     </div>
     <div class="col-lg-4">
      <div class="mx-auto features-icons-item mb-5 mb-lg-0 mb-lg-3">
       <div class="d-flex features-icons-icon">
        <i class="icon-check m-auto text-primary" data-bss-hover-animate="pulse">
        </i>
       </div>
       <h3>
        Easy to Use
       </h3>
       <p class="lead mb-0">
        Ready to use with your own content, or customize the source files!
       </p>
      </div>
     </div>
    </div>
   </div>
  </section>
  <section class="showcase">
   <div class="container-fluid p-0">
    <div class="row g-0">
     <div class="col-lg-6 my-auto order-lg-1 showcase-text">
      <h2>
       Fully Responsive Design
      </h2>
      <p class="lead mb-0">
       When you use a theme created with Bootstrap, you know that the theme will look great on any device, whether it's a phone, tablet, or desktop the page will behave responsively!
      </p>
     </div>
    </div>
    <div class="row g-0">
     <div class="col-lg-6 my-auto order-lg-1 showcase-text">
      <h2>
       Updated For Bootstrap 4
      </h2>
      <p class="lead mb-0">
       Newly improved, and full of great utility classes, Bootstrap 4 is leading the way in mobile responsive web development! All of the themes are now using Bootstrap 4!
      </p>
     </div>
    </div>
    <div class="row g-0">
     <div class="col-lg-6 my-auto order-lg-1 showcase-text">
      <h2>
       Easy to Use & Customize
      </h2>
      <p class="lead mb-0">
       Landing Page is just HTML and CSS with a splash of SCSS for users who demand some deeper customization options. Out of the box, just add your content and images, and your new landing page will be ready to go!
      </p>
     </div>
    </div>
   </div>
  </section>
  <section class="text-center bg-light testimonials">
   <div class="container">
    <h2 class="mb-5">
     What people are saying...
    </h2>
    <div class="row">
     <div class="col-lg-4">
      <div class="mx-auto testimonial-item mb-5 mb-lg-0">
       <h5>
        Margaret E.
       </h5>
       <p class="font-weight-light mb-0">
        "This is fantastic! Thanks so much guys!"
       </p>
      </div>
     </div>
     <div class="col-lg-4">
      <div class="mx-auto testimonial-item mb-5 mb-lg-0">
       <h5>
        Fred S.
       </h5>
       <p class="font-weight-light mb-0">
        "Bootstrap is amazing. I've been using it to create lots of super nice landing pages."
       </p>
      </div>
     </div>
     <div class="col-lg-4">
      <div class="mx-auto testimonial-item mb-5 mb-lg-0">
       <h5>
        Sarah W.
       </h5>
       <p class="font-weight-light mb-0">
        "Thanks so much for making these free resources available to us!"
       </p>
      </div>
     </div>
    </div>
   </div>
  </section>
  <section class="text-center text-white call-to-action" style='background:url({% static "accounts/img/bg-masthead.jpg" %}) no-repeat center center;background-size:cover;'>
   <div class="overlay">
   </div>
   <div class="container">
    <div class="row">
     <div class="col-xl-9 mx-auto position-relative">
      <h2 class="mb-4">
       Ready to get started? Sign up now!
      </h2>
     </div>
     <div class="col-md-10 col-lg-8 col-xl-7 mx-auto position-relative">
      <form>
       <div class="row">
        <div class="col-12 col-md-9 mb-2 mb-md-0">
         <input class="form-control form-control-lg" placeholder="Enter your email..." type="email"/>
        </div>
        <div class="col-12 col-md-3">
         <button class="btn btn-primary btn-lg" type="submit">
          Sign up!
         </button>
        </div>
       </div>
      </form>
     </div>
    </div>
   </div>
  </section>
  <footer class="bg-light footer">
   <div class="container">
    <div class="row">
     <div class="col-lg-6 text-center text-lg-start my-auto h-100">
      <ul class="list-inline mb-2">
       <li class="list-inline-item">
        <a href='{% static "#" %}'>
         About
        </a>
       </li>
       <li class="list-inline-item">
        <span>
         ⋅
        </span>
       </li>
       <li class="list-inline-item">
        <a href='{% static "#" %}'>
         Contact
        </a>
       </li>
       <li class="list-inline-item">
        <span>
         ⋅
        </span>
       </li>
       <li class="list-inline-item">
        <a href='{% static "#" %}'>
         Terms of Use
        </a>
       </li>
       <li class="list-inline-item">
        <span>
         ⋅
        </span>
       </li>
       <li class="list-inline-item">
        <a href='{% static "#" %}'>
         Privacy Policy
        </a>
       </li>
      </ul>
      <p class="text-muted small mb-4 mb-lg-0">
       © Brand 2021. All Rights Reserved.
      </p>
     </div>
     <div class="col-lg-6 text-center text-lg-end my-auto h-100">
      <ul class="list-inline mb-0">
       <li class="list-inline-item">
        <a href='{% static "#" %}'>
         <i class="fa fa-facebook fa-2x fa-fw">
         </i>
        </a>
       </li>
       <li class="list-inline-item">
        <a href='{% static "#" %}'>
         <i class="fa fa-twitter fa-2x fa-fw">
         </i>
        </a>
       </li>
       <li class="list-inline-item">
        <a href='{% static "#" %}'>
         <i class="fa fa-instagram fa-2x fa-fw">
         </i>
        </a>
       </li>
      </ul>
     </div>
    </div>
   </div>
  </footer>
  <div class="modal fade" id="sign-up-modal" role="dialog" tabindex="-1">
   <div class="modal-dialog" role="document">
    <div class="modal-content">
     <div class="modal-header">
      <h4 class="modal-title">
       Create an Account
      </h4>
      <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button">
      </button>
     </div>
     <div class="modal-body">
      {% include 'sign_up_form.html' %}
     </div>
    </div>
   </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js">
  </script>
  <script src='{% static "js/bs-init.js" %}'>
  </script>
  <script src='{% static "js/_javascript_tools.js" %}'>
  </script>
 </body>
</html>