@media (min-width: 992px) {
  .navbar-brand {
    font-size: xx-large;
  }
}

@media (max-width:991px) {
  .navbar-brand {
    font-size: x-large;
  }
}

@media (max-width: 991px) {
  .navbar-main-link {
    font-size: 0;
    border-radius: 8px;
    margin: 3px;
    width: 33px;
    height: 33px;
  }
}

@media (min-width: 992px) {
  .navbar-main-link {
    border-radius: 11px;
    margin-right: 5px;
  }
}

.nav-item.d-lg-flex.justify-content-lg-end.align-items-lg-center {
  margin: 0;
}

@media (min-width: 992px) {
  .nav-item.d-lg-flex.justify-content-lg-end.align-items-lg-center {
    margin-left: 3px;
    margin-right: 3px;
  }
}

.navbar-brand {
  margin-right: auto;
}

.dropdown-menu {
  float: left;
  border-radius: 8px;
  margin: 0px 5px 0px 0px;
  min-width: auto;
  margin-right: 3px;
  background: rgba(0,123,255,0.71);
  border-radius: 5px;
  border-style: none;
  padding-bottom: 12px;
  padding-top: 13px;
}

@media (min-width: 992px) {
  .dropdown-menu {
    color: var(--bs-white);
    border-radius: 11px;
    padding-top: 6px;
  }
}

@media (max-width: 991px) {
  .dropdown-menu {
    margin-left: -128px;
    /*top: -64px;*/
    margin-top: -34px;
    padding-top: 0px;
  }
}

.active.d-xl-flex.align-items-xl-center.btn.btn-primary {
  background-color: rgb(0,123,255);
  color: var(--bs-white);
  border-radius: 11px;
}

@media (max-width: 991px) {
  .active.d-xl-flex.align-items-xl-center.btn.btn-primary {
    border-radius: 8px;
    font-size: smaller;
    padding: 3px;
    border-radius: 8px;
    margin: 3px;
    float: right;
  }
}

.btn-group-vertical > button {
  text-align: center;
}

.dropdown-item.d-lg-flex.justify-content-lg-end {
  padding: 0;
}

.navbar {
  position: absolute;
}

.navbar-nav.d-lg-flex.me-auto.justify-content-lg-end.align-items-lg-center.ms-auto {
  pointer-events: auto;
}

.navbar.navbar-light.navbar-expand-lg.navigation-clean-button {
  pointer-events: none;
}

.navbar-brand {
  pointer-events: auto;
}

.navbar-toggler {
  pointer-events: auto;
}

.form-check.form-switch {
  margin: 10px;
}

.form-switch .form-check-input:checked {
  background-color: rgb(0,71,255);
}

.form-check-input {
  border: none;
}

.form-check-input:checked {
  border: none;
}

.dropdown-menu .btn {
  border-radius: 11px;
}

.dropdown-item.d-lg-flex.justify-content-lg-end {
  background: transparent;
}

.dropdown-item .btn-primary {
  color: #fff;
  background-color: rgb(0,123,255);
  border-color: #007bff;
}

.dropdown-menu {
  padding-top: 10px;
}

#main-navbar > a {
}

@media (max-width: 991px) {
  .nav-item {
    margin: 3px;
    padding: 3px;
  }
}

.navbar .nav-item .dropdown-toggle a {
  background-color: var(--bs-primary);
}

@media (min-width: 992px) {
  .navbar-main-link {
    margin: auto;
  }
}

@media (min-width: 992px) {
  .navbar-main-link {
    margin: auto;
  }
}

@media (min-width: 992px) {
  .navbar-main-link {
    margin: auto;
    margin-right: 7px;
  }
}

@media (max-width: 991px) {
  #more-dropdown {
  }
}

@media (max-width: 991px) {
  .navbar-main-link {
    padding: 3px;
    margin: 3px;
  }
}

@media (max-width: 991px) {
  .main-nav-btn-text {
    font-size: 0;
    margin-top: 5px;
    padding-top: 14px;
    margin-bottom: 6px;
  }
}

@media (min-width: 992px) {
  .main-nav-btn-text {
    font-size: 13pt;
  }
}

.nav-pills .nav-link {
  background: none;
  border: 0;
  border-radius: .5rem;
  margin: 2px;
}

@media (min-width: 992px) {
  #more-dropdown-link {
    margin-left: 3px;
    padding: 8px;
    margin-top: -8px;
    margin-bottom: -6px;
    min-height: 43px;
  }
}

@media (max-width: 991px) {
  #more-dropdown-link {
    margin-right: 6px;
  }
}

@media (min-width: 992px) {
  .navbar-main-icon {
    margin-right: 8px;
    width: 30px;
    height: 30px;
    height: auto;
  }
}

@media (max-width: 991px) {
  .navbar-main-icon {
    margin-top: 0px;
    margin-left: 0px;
    width: 24px;
    height: auto;
  }
}

#more-btn-text {
  margin-bottom: -11px;
}

@media (max-width: 991px) {
  #more-dropdown {
    margin-top: 3px;
  }
}

#more-icon {
  margin-right: -3px;
  padding-top: 0px;
  padding-bottom: 8px;
  margin-top: 5px;
  margin-bottom: 1px;
}

.navbar-main-link {
  box-shadow: 3px 6px 18px 0px var(--bs-dark-text-emphasis);
}

#more-dropdown-link {
}

.dropdown-menu {
  border-radius: 11px;
}

@media (max-width: 991px) {
  #more-dropdown-menu {
    margin-top: -36px;
    padding-right: 0px;
    margin-right: 0px;
  }
}

@media (min-width: 992px) {
  #more-dropdown-menu {
    margin-top: 54px;
    margin-right: -121px;
  }
}

#more-dropdown-menu {
  box-shadow: 3px 6px 18px 0px var(--bs-dark-text-emphasis);
}

.modal-button {
  margin-right: 8px;
  border-radius: 11px;
}

#selection-options-modal {
}

